<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>dom-deque tests</title>
  <script src="../../web-component-tester/browser.js"></script>
</head>
<body>
<script>
  WCT.loadSuites([
    // 'unit/deque.html',
    // 'unit/templatizer.html',
    'unit/bind.html',
    // 'unit/events.html',
    'unit/notify-path.html',
    // 'unit/deque.html?dom=shadow',
    // 'unit/templatizer.html?dom=shadow',
    // 'unit/bind.html?dom=shadow',
    // 'unit/notify-path.html?dom=shadow'
  ]);
</script>
</body>
</html>